@charset "UTF-8";
.register-container {
    text-align: center;
    width: 400px;
    margin: 0 auto;
}
.register-container p{
	font-size:20px;
	text-align: center;
}
#login{
	display: flex;
	justify-content:center;
	margin:0 auto;	
}